
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     font-family: "Open Sans", sans-serif;

     /* border: .1rem solid red; */
}

:root{
    --lead : #212121;
    --gold-finger: #F2BD12;
    --eye-ball: #FFFDF7;
    --hint-yellow : #FCF1CC;
    --pure-white : #fff;


}

body{
    background: var(--eye-ball);
}

/* BASIC STYLEING  */

a{
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--lead);
}
.flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}
li{
    list-style: none;
}
.between{
    justify-content: space-between;
}
.gap-2{
    gap: 2rem;
}
.gap-3{
    gap: 3rem;
}
.wrapper{
    max-width: 1400px;
   
    margin: auto;
    padding-inline: 1.5rem;
}

img{
    max-width: 100%;
    height: auto;
    margin: auto;
     display: block;

}
.p-top{
    padding-top:10rem;
}
.text-center{
    text-align: center;
}

.mt-4{
    margin-top: 4rem;
}


.mt-half{
    margin-top: .5rem;
}


.me-auto{
    margin: auto;
}

.mt-one-half{
    margin-top: 1.5rem;
}
/* 
HEADER */

.navbar{
    min-height: 14vh;
}

.logo{
    font-size: 2rem;
    font-weight: bold;
    color: var(--gold-finger);

}

.btn{
    display: inline-block;
    padding: .9rem 2rem;
    background: var(--gold-finger);
    border-radius: 1rem;
    font-size: 1.1rem;
    color: var(--pure-white);
    box-shadow: rgba(0, 0, 0, 0.174) 0 2px 1px ;
    transition: .3s ease-in-out;

}

.cart-icon{
   
    font-size: 1.3rem;
    position: relative;

}

.btn:hover{
    background: var(--lead);
}

.cart-icon .cart-value{
   

    position: absolute;
     top: 50%;
     right: -10px;
    font-size: .85rem;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 100vw;
    background: var(--gold-finger);
    color: var(--lead);
    text-align: center;
    line-height: 20px;
}
.desktop-action .hamburger{
    font-size: 1.5rem;
    display: none;
}

.mobile-menu{
    display: none;
}
/* section*/

.hero-section{
    
    min-height: calc(100vh-14vh);
}

.content,
.image-container,
.service-card{
    flex:1;
    flex-basis: 300px;

}

h1{
    font-size: 5.6vw;
    color: var(--lead);
}

h1 span{
    color: var(--gold-finger);
}

p{
    font-size: 1.25rem;
    color: gray;
    line-height: 1.8rem;
    font-weight: 400;
}

.para{
    margin-block: 2rem;
    max-width: 550px;
}

.social-icon{
    background: var(--hint-yellow);
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 1rem;
    font-size: 1.2rem;
    text-align: center;
    line-height: 3rem;
    box-shadow: rgba(0, 0, 0, 0.174) 0 2px 1px ;
    transition: .3s ease-in-out;
}

.social-icon:hover{
    background: var(--lead);
    color: var(--pure-white);
}

/* 
section 01 */
h5{
    font-size: 1.2rem;
    letter-spacing: .2rem;
    color: var(--gold-finger);
    text-transform: uppercase;
}

h2{
    font-size: 3.7rem;
    text-transform: capitalize;
    color: var(--lead);
}

h3{
    font-size: 2rem;
    text-transform: capitalize;
    color: var(--lead);

}

.service-card{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

/* section 2 */

.order-card{
    flex-basis: 300px;
    background: var(--pure-white);
    border: .1rem solid var(--gold-finger);
    border-radius: 2rem;
    box-shadow:rgba(0, 0, 0, 0.05) 8px 8px 8px,
    rgba(0, 0, 0, 0.05) 8px 8px 8px inset ;
    padding: 0 1rem 2rem 1rem;
}
.order-card img{
    width: 15rem;
    filter: drop-shadow(
        rgba(0, 0, 0, 0.16) 0 10px 10px
    );

}

h4{
    font-size: 1.8 rem;
    color: var(--lead);
}
.order-card .price{
    font-size: 1.7rem;
    color: var(--gold-finger);
    padding: 1.3rem 0 2rem 0;
}

/* cart tab styling */

.cart-tab{
    background: var(--hint-yellow);
    position: fixed;
    inset: 0 -500 0 auto;
    width: 25rem;
    padding-block: 2rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.1) -10px -10px 20px;
    transition: .3s ease-in-out;
    
}

.cart-tab-active{

    inset: 0 0 0 auto;
}

.cart-list{
    flex: 1;
    width: 100%;
    margin-top: 1.5rem;
    overflow: auto;
}

.cart-list::-webkit-scrollbar{
    width: 0;
}


.total-container{
    width: 100%;
    background: var(--gold-finger);
    text-align: center;
    margin-block: 1rem;
    padding-block: 1rem;
}


.total-container h4{
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 400;
}

.btn-container{

    background: var(--lead);
    transition: .3s ease-in-out;
}
.btn-container .btn:hover{
    background-color:  var(--gold-finger);
    color: var(--lead);
}

.item{
    display: flex;   
    align-items: center;
    gap: 1rem;
    
    padding: .7rem 1rem;
    transition: all .5s ease-in-out;
}

.card-list .order-card:hover{
    box-shadow: #f2be12 10px 10px 20px ,-10px -10px 20px gold;
}


.item.slide-out{
    transform: translateX(50%);
}

.item .detail{
    flex: 2;
}

.cart-list .item:nth-child(even){
    background-color: var(--eye-ball);
}

.item h4{
    font-size: 1.3rem;
    color: var(--lead);
}

.item .item-image img{
    width: 5rem;
}

.item .item-total{
    font-weight: 400;
    margin-top: .3rem;
}

.quantity-btn{
    background: var(--lead);
    color: var(--pure-white);
    width: 1.7rem;
    aspect-ratio: 1;
    border-radius: 100vw;
    text-align: center;
    line-height: 1.7rem;
}

.quantity-value{
    font-size: 1.2rem;
    font-weight: 400;
    margin-inline: .6rem22;
}



/* section3  */

.review-container{
    width: 650px;
    max-width: 100%;
    flex: 1;

}
.swiper{
    height: 100%;
    width: 100%;
}
.profile{
    width: 4rem;
    aspect-ratio: 1;
    border-radius: 100vw;
    overflow: hidden;

}
.profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fa-star{
    color: #F2BD12;
}

.arrow{
    width: 2.5rem;
    aspect-ratio: 1;
    background-color: var(--gold-finger);
    columns: var(--lead);
    text-align: center;
    line-height: 2.5rem;
    border-radius: 200px;
    
}
.app-container .image-container img{
    width: 25rem;
    

}


.app- .content h2{
    font-size: 4.5rem;
}

/* section 4 */

.app-container {
    background: var(--hint-yellow);
    padding: 3rem 6rem;
    border-radius: 3rem;


}


/* section 5  */

.input-container{
    width: 43rem;
    max-width: 100%;
    background: #F2BD12;
    padding: .8rem;
    background-color: var(--pure-white);
    box-shadow: rgba(0, 0, 0, 0.01) 0 5px 8px;
    border-radius: 1rem;
    margin:4rem auto 0 auto;
}

input[type=email]{
    flex: 1;
    height: 7vh;
    background: transparent;
    border: none;
    font-size: 1.1rem;
    padding-left: 1rem;
}

input[type=email]:focus{
    outline: none;
}

/*FOOTER  */

.footer-container{
    margin-top:10rem ;
    padding-block: 4rem;
    background:var(--hint-yellow) ;

}

.footer-wrapper .social-icon{
    background-color: var(--pure-white);
}

.footer-wrapper .social-icon:hover{
    background: var(--lead);
    color: var(--pure-white);
}
.footer-container .flex{
    align-items: flex-start;
    transition: .3s ease-in-out;
}

.footer-wrapper{
    flex:1;
    flex-basis: 150px;
}
.footer-wrapper:nth-child(1){
    flex: 2;
    flex-basis: 300px;
}
.footer-link{
    color: gray;
    font-size: 1.1rem;
}

.footer-link:hover{
    color: var(--lead);
}
/* MEADIA QUERY  */

@media screen and (max-width:700px){

/* header style*/
    .navlist,
    .desktop-action .btn{
        display: none;
    }

    .desktop-action .hamburger{
        display: block;
    }

    .mobile-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        gap: 2rem;
        position:absolute;
        top: 20%;
        left: -100%;
        transform: translateX(-50%);
        width: 20rem;
        padding: 2rem;
        background: var(--pure-white);
        border: .1rem solid var(--gold-finger);
        border-radius: 2rem;
        box-shadow:rgba(0, 0, 0, 0.05) 8px 8px 8px,
        rgba(0, 0, 0, 0.05) 8px 8px 8px inset ;
        transition: .5s ease-in-out;
    }

    .mobile-menu-active{
        left: 50%;
        transform: translate(-50%);

    }
/* 
    section style */
/* 
    hero font-style */

    h1{
        font-size: 3.6rem;

    }
    .content{

        padding-top: 3rem;

    }
    .gap-2{
        gap: 1.4rem;
    }

    .gap-4{
        gap: 4rem;
    }

    /* section2 */
    h2{
        font-size: 3rem;
    }


    /* section 04 */

    .app-container{
        padding: 2.2rem;
    }

    .app-container .content h2{
        font-size: 3.5rem;
    }
}